/*
 * FONTS
 * 
 * Lato:
 * 
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('fonts/lato/latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('fonts/lato/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*
 * 
 * Black ops one:
 * 
/* latin-ext */
@font-face {
  font-family: 'Black Ops One';
  font-style: normal;
  font-weight: 400;
  src: local('Black Ops One'), local('BlackOpsOne-Regular'), url('fonts/blackopsone/latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Black Ops One';
  font-style: normal;
  font-weight: 400;
  src: local('Black Ops One'), local('BlackOpsOne-Regular'), url('fonts/blackopsone/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*
 * BASE STYLES
 */
#cmsverifpop {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  text-align:center;
  font-size:0.8em;
  font-style:'Arial';
  color:#000;margin:0;
  padding:0;z-index:99999;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0.8)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff',GradientType=0 );
  padding-bottom:0.5em;
}

#cmsverifpop p {margin:0.5em;text-align:center;}
#cmsverifpop a {font-weight:bold;font-size:1.1em;color:#333;}
#cmsverifpop input {padding:0.5em 1em;cursor:pointer;}

* {
  max-height:1000000px;
}

body {
  font-family:'Lato','Arial',sans-serif;
  font-size:0.9em;
  margin:0;
  padding:0;
}

a {
  text-decoration:none;
  color:#000000;
  cursor:pointer;
}

form {
  margin:0;
  padding:0;
}

fieldset {
  border:0.1em solid #888888;
  margin:1em;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

legend {
  color:#ffffff;
  background:#000000;
  padding:0.25em 0.5em;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

h1 {
  padding:0;
  font-size:2em;
  font-family:'Black Ops One', 'Arial';
  font-weight:normal;
  margin:0.25em 0.5em 0.25em 0.5em;
}

h2 {
  text-align:left;
  border-bottom:0.1em solid;
  font-style:italic;
  margin:1em 0.75em 0.75em 0.75em;
  font-size:1.5em;
}

p {
  margin:1em;
}

table {
  margin:1em 1%;
  width:98%;
}

tbody {
  width:98%;
} 

td {
  text-align:center;
  background:#dddddd;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

tr:hover td {
  background:#eeeeee;
}

th {
  background:#999999;
  color:#000000;
  text-align:center;
}

input, 
select,
textarea {
  cursor:pointer;
  font-size:1em;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
select,
textarea {
  -webkit-appearance:none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border:0.1em solid #999999;
  -webkit-box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.5);
  box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.5);
  color:#333333;
  padding:0.25em 0;
  margin:0.1em;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-family:'Arial';
  width:15em;
  padding-left:0.5em;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover,
select:hover,
textarea:hover {
  -webkit-box-shadow:inset 0 0 10px 0 rgba(251,185,0,1);
  box-shadow:inset 0 0 10px 0 rgba(251,185,0,1);
}

select {
  -webkit-appearance:none;
  border:none;
}

input[type="radio"],
input[type="checkbox"] {
  width:1em;
  height:1em;
}

input[type="button"],
input[type="submit"] {
  -webkit-appearance:none;
  padding:0.5em 1em;
  color:#FFFFFF;
  border:none;
  font-family:'Arial';
  margin-bottom:0.2em;
  background: #7d7e7d;
  background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
  background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
  background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
  background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
  background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background: #a0a0a0;
  background: -moz-linear-gradient(top,  #a0a0a0 0%, #262626 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a0a0), color-stop(100%,#262626));
  background: -webkit-linear-gradient(top,  #a0a0a0 0%,#262626 100%);
  background: -o-linear-gradient(top,  #a0a0a0 0%,#262626 100%);
  background: -ms-linear-gradient(top,  #a0a0a0 0%,#262626 100%);
  background: linear-gradient(to bottom,  #a0a0a0 0%,#262626 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#262626',GradientType=0 );
}

input[type="button"]:active,
input[type="submit"]:active {
  background:#333333; 
}

textarea {
  width:100%;
  height:10em;
}

#page {
  margin:0;
}

#header {
  background-image:url('images/header.jpg');
  background-size:100% 100%;
  -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0;
  width:100%;
  z-index:50;
}

#header img {
  display:inline-block;
  height:7em;
  margin:0.75em;
}

#header h1 {
  display:inline-block;
  vertical-align:top;
  font-size:3em;
  margin:0.3em 0 0 0.25em;
}

#navigation {
  height:0;
}

#content {
  text-align:left;
  width:980px;
  color:#444444;
  padding:0.1em 0;
  clear:both;
  opacity:0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top:11em;
}

#footer {
  text-align:center;
  font-size:0.8em;
  padding:0.1em 0;
  margin:0.5em 0 5em 0;
}

.opener {
  cursor:pointer;
  color:#ffffff;
  display:block;
  margin:1em 0.5em 0 0.5em;
  padding:0.25em 1em;
  background: #7d7e7d;
  background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
  background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
  background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
  background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
  background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}

#emailchange,
#passchange,
#logininfo {
  margin:0 0.5em 0.5em 0.5em;
  background:#eeeeee;
  color:#333333;
  -webkit-transition: max-height 0.25s ease-in-out;
  -moz-transition: max-height 0.25s ease-in-out;
  -ms-transition: max-height 0.25s ease-in-out;
  -o-transition: max-height 0.25s ease-in-out;
  transition: max-height 0.25s ease-in-out;
}

#logininfo p {
  border-bottom:0.1em dotted;
  padding:0.5em;
  font-size:0.9em;
}

.error,
.fine {
  color:#FFFFFF;
  padding:0.5em 1em;
}

.error {
  background:#aa0000;
}

.fine {
  background:#006b01;
}

.langmenu {
  display:block;
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:right;
  position:fixed;
  top:7em;
  right:0;
  z-index:51;
}

.langmenu li {
  display:inline-block;
}

.langmenu input,
.langmenu input:hover {
  background:none;
  border:none;
  padding:0 0.5em 0 1em;
  color:#fbb900;
}

.modulemenu {
  width:40%;
  position:fixed;
  top:0;
  right:0;
  margin:0;
  padding:0.5em 0 0.5em 2em;
  background-image:url('images/modules.png');
  background-size:100% 100%;
  z-index:51;
}

.modulemenu li {
  display:inline-block;
  margin:0;
  position:relative;
}

.modulemenu a {
  display:block;
  padding:0em 1em;
  margin:0.5em 0;
  color:#000000;
  border-right:0.1em solid #333333;
  border-left:0.1em solid #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.modulemenu a:hover,
.modulemenu .active {
  color:#ffffff;
  text-shadow: 0 0 10px #FFFFFF;
}

.contentmenu {
  width:40%;
  position:fixed;
  top:0;
  left:0;
  margin:0;
  padding:0.5em 2em 0.5em 0;
  background-image:url('images/content.png');
  background-size:100% 100%;
  z-index:51;
}

.contentmenu li {
  display:inline-block;
  margin:0;
  position:relative;
}

.contentmenu a {
  display:block;
  padding:0em 1em;
  margin:0.5em 0;
  color:#000000;
  border-right:0.1em solid #333333;
  border-left:0.1em solid #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.contentmenu a:hover, 
.contentmenu .active {
  color:#ffffff;
  text-shadow: 0 0 10px #FFFFFF;
}

.subcontentmenu {
  max-height:0px;
  width:0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow:hidden;
  position:absolute;
  left:0;
  background:#cccccc;
  text-align:left;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.subcontentmenu p {
  margin:0.5em;
}

.subcontentmenu a {
  padding:0.25em 0.5em;
  border:0.2em solid #000000;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background:#666666;
  color:#ffffff;
  overflow:hidden;
}

.subcontentmenu a:hover,
.subcontentmenu .active {
  background:#FBB900;
  color:#000000;
}

.contentmenu li:hover .subcontentmenu {
  max-height:500px;
  width:15em;
  border-left:0.1em solid #DDDDDD;
  border-top:0.1em solid #DDDDDD;
  border-right:0.1em solid #333333;
  border-bottom:0.1em solid #333333;
}

.usermenu {
  width:59%;
  display:inline-block;
  vertical-align:top;
  text-align:center;
  list-style-type:none;
}

.privatemenu{
  margin:0;
  padding:0;
}

.privatemenu li{
  display:inline-block;
  vertical-align:top;
}

.privatemenu a {
  display:block;
  width:8em;
  padding-top:5em;
  margin:0.5em;
  background-image:url('images/module.png');
  background-position:top;
  background-size:5em auto;
  background-repeat:no-repeat;
  text-align:center;
  opacity:0.75;
}

.privatemenu a:hover {
  opacity:1;
}

.userdata {
  width:40%;
  display:inline-block;
  vertical-align:top;
}

.pinput,
.pinputwide {
  margin:0.5em;
  padding:0.5em;
}

.pinput {
  display:inline-block;
  vertical-align:bottom;
}

.version {
  text-align:right;
  font-size:0.75em;
  font-style:italic;
  padding:1em;
}

.modmenu {
  margin:-0.1em 0 1em 0;
  padding:0;
  display:block;
  background:#ffffff;
  list-style-type:none;
  text-align:center;
}

.modmenu li {
  display:inline-block;
  margin:0;
  padding:0;
}

.modmenu a {
  display:block;
  padding:0.5em 1em;
}

.modmenu a:hover {
  text-shadow: 0 0 10px #000000;
}

.modmenu .active {
  font-weight:800;
}

.editiontitle {
  margin:1em 1em 0 1em;
  border-bottom:0.1em solid;
  font-weight:bold;
}

.editionitem {
  background:#dddddd;
  margin:0.2em 1em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position:relative;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.editionitem:hover {
  background:#eeeeee;
}

.editionitem img {
  display:inline-block;
  margin:0.5em;
  vertical-align:middle;
  max-width:4em;
}

.editionitem .field,
.editionitem .controls {
  -webkit-appearance:none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display:inline-block;
  vertical-align:middle;
  padding:0.25em 1em;
  width:20em;
}

.edmedia {
  display:inline-block;
  text-align:center;
  margin:0.25em;
  padding:0.5em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.edmedia:hover {
  background:#eeeeee;
}

.edmedia img {
  height:5em;
  margin:0.25em;
}

.overwatch {
  margin:1em 0;
  font-size:0.9em;
  color:#333333;
}

.log {
  padding:0.5em;
  margin:0.25em;
  background:#eeeeee;
  -webkit-box-shadow:inset 0 0 25px 0 rgba(0,0,0,0.25);
  box-shadow:inset 0 0 25px 0 rgba(0,0,0,0.25);
  font-family:'Arial';
}

.log .header {
  display:inline-block;
  padding:0.5em 3em 0.5em 0;
  color:#000000;
  font-weight:bold;
}

.log .data {
  font-size:0.9em;
  padding:0 1em;
}

.failure {
  font-weight:bold;
  color:#AA0000;
}

.pags {
  text-align:center;
  margin:1em;
}

.pags a {
  display:inline-block;
  margin:0.5em;
}

.modclose {
  float:right;
}
