/*
 * FONTS
 * 
 * Raleway:
 * 
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url('fonts/raleway/latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*
 * JULIUS BASE STYLES
 */
* {
  max-height:1000000px;
}

body {
  background: #F0EDE8;
  color: #666666;
  font-family: 'Raleway', 'Arial', sans-serif;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0.5em;
  font-size: 1em;
}

a {
  text-decoration:none;
  color:#666E6E;
  cursor:pointer;
}

a:hover {
  color: #990000;
}

form {
  margin:0;
  padding:0;
}

fieldset {
  margin: 1em;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ccc;
}

legend {
  color: #990000;
  padding: 0 0.75em;
}

h1 {
  font-style: italic;
  text-transform: uppercase;
  font-size: 2em;
  margin: 0.5em 0 0.25em 0;
  padding: 0 0.5em;
  border-bottom: 1px solid #999;
  text-align: center;
}

h2 {
  text-align:left;
  border-bottom:0.1em solid;
  font-style:italic;
  margin:1em 0.75em 0.75em 0.75em;
  font-size:1.5em;
}

p {
  margin:1em;
}

table {
  margin:1em 1%;
  display:block;
  width:98%;
}

td {
  text-align:center;
  background:#dddddd;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

tr:hover td {
  background:#eeeeee;
}

th {
  background:#999999;
  color:#222222;
}

input, 
select,
textarea {
  cursor:pointer;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
select,
textarea {
  -webkit-appearance:none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 15em;
  border: 1px solid #999;
  -webkit-box-shadow: inset 2px 2px 10px 0 #aaa;
  box-shadow: inset 2px 2px 10px 0 #aaa;
  padding: 0.3em 0 0.3em 0.7em;
  margin: 0.1em;
  color: #7F0101;
  margin: 0.2em;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover,
select:hover,
textarea:hover {
  -webkit-box-shadow: inset 2px 2px 10px 0 #ccc;
  box-shadow: inset 2px 2px 10px 0 #ccc;
}

select {
  -webkit-appearance:none;
  border:none;
}

input[type="radio"],
input[type="checkbox"] {
  width:1em;
  height:1em;
}

input[type="button"],
input[type="submit"] {
  -webkit-appearance:none;
  color: #000;
  padding: 0.75em 1em;
  border: none;
  background: #ccc;
  margin: 0.2em;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background: #7F0101;
  color: #fff;
}

textarea {
  width:100%;
  height:5em;
}

#page {
  width:980px;
  text-align:left;
  padding:0.5em;
  margin:0 0 5em 0;
}

#header {
  display:inline-block;
  margin:0;
  padding:0;
  width:50%;
}

#header img {
  display:inline-block;
  height:7em;
}

#header h1 {
  display:inline-block;
  vertical-align:top;
  font-size:3em;
  margin:0.3em 0 0 0.25em;
}

#navigation {
  display:inline-block;
  margin:0;
  padding:0;
  width:49%;
  text-align:right;
}

#content {
  background:#ffffff;
  padding:0.1em 0;
  clear:both;
  opacity:0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#footer {
  padding: 0 1em;
  font-size: 0.8em;
}

.opener {
  cursor:pointer;
  color:#000000;
  background:#cccccc;
  display:block;
  margin:1em 0.5em 0 0.5em;
  padding:0.25em 0.5em;
}

.opener:hover{
  background: #7F0101;
  color: #ffffff;
}

#emailchange,
#passchange,
#logininfo {
  margin:0 0.5em 0.5em 0.5em;
  background:#ffffff;
  color:#333333;
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -ms-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

#logininfo p {
  border-bottom:0.1em dotted;
  padding:0.5em;
  font-size:0.9em;
}

.error,
.fine {
  color:#FFFFFF;
  padding:0.5em 1em;
}

.error {
  background:#aa0000;
}

.fine {
  background:#006b01;
}

.langmenu {
  display:block;
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:right;
  position:relative;
  top:-2em;
  height:0;
}

.langmenu li {
  display:inline-block;
}

.langmenu input,
.langmenu input:hover {
  background:none;
  border:none;
  padding:0 0.5em 0 1em;
  color:#000000;
}

.modulemenu {
  float:right;
  margin:0 0 0.5em 0;
  padding:0;
  text-align:right;
}

.modulemenu li {
  display:inline-block;
  margin-left:0.5em;
}

.modulemenu a {
  display:block;
  margin:0 0.5em;
}

.modulemenu a:hover,
.modulemenu .active {
  color: #990000;
}

.contentmenu {
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:left;
  display:none;
}

.contentmenu li {
  display:inline-block;
  margin:0 0.5em 0 0;
  position:relative;
}

.contentmenu a {
  display:block;
  margin:0 0.5em;
}

.contentmenu a:hover,
.contentmenu .active {
  color: #990000;
}

.subcontentmenu {
  max-height:0px;
  width:0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow:hidden;
  position:absolute;
  left:0;
  background:#fff;
  text-align:left;
  background:#F0EDE8;;
}

.subcontentmenu p {
  margin:0.5em;
  overflow:hidden;
}

.subcontentmenu a {
  padding:0.25em 0.5em;
}

.contentmenu li:hover .subcontentmenu {
  max-height:500px;
  width:15em;
  border-right:0.1em solid #333333;
  border-bottom:0.1em solid #333333;
}

.usermenu {
  width:59%;
  display:inline-block;
  vertical-align:top;
  text-align:center;
  list-style-type:none;
}

.privatemenu{
  margin:0;
  padding:0;
}

.privatemenu li{
  display:inline-block;
  vertical-align:top;
}

.privatemenu a {
  display:block;
  width:8em;
  padding-top:5em;
  margin:0.5em;
  background-image:url('images/module.png');
  background-position:top center;
  background-size:5em 5em;
  background-repeat:no-repeat;
  text-align:center;
}

.privatemenu a:hover {
  background-image:url('images/moduleh.png');
}

.userdata {
  width:40%;
  display:inline-block;
  vertical-align:top;
}

.pinput,
.pinputwide {
  margin:0.5em;
  padding:0.5em;
}

.pinput {
  display:inline-block;
  vertical-align:top;
}

.version {
  text-align:right;
  font-size:0.75em;
  font-style:italic;
  padding:1em;
}

.modmenu {
  padding:0;
  display:block;
  margin: 0 0.2em;
  background: #ccc;
  list-style-type:none;
}

.modmenu li {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-right: 0.2em solid #fff;
}

.modmenu a {
  display: block;
  padding: 0.5em 0.75em;
  color: #000;
  margin: 0;
}

.modmenu a:hover {
  background: #7F0101;
  color: #fff;
}

.editiontitle {
  margin:1em 1em 0 1em;
  border-bottom:0.1em solid;
  font-weight:bold;
}

.editionitem {
  background:#eeeeee;
  color:#444444;
  margin:0.2em 1em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position:relative;
}

.editionitem img {
  display:inline-block;
  height:2.5em;
  margin:0.5em;
  vertical-align:middle;
}

.editionitem .field {
  -webkit-appearance:none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display:inline-block;
  padding:0.25em 1em;
  width:33%;
}

.editionitem .controls {
  display:inline-block;
  padding:0.25em 0.5em;
}

.edmedia {
  display:inline-block;
  text-align:center;
  margin:0.25em;
  padding:0.5em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.edmedia:hover {
  background:#ffffff;
}

.edmedia img {
  height:5em;
  margin:0.25em;
}

.overwatch {
  margin:1em 0.5em;
  font-size:0.9em;
  color:#333333;
}

.log {
  padding:0.5em;
  border-bottom:0.1em dotted;
}

.log .header {
  display:inline-block;
  padding:0.5em 3em 0.5em 0;
  color:#000000;
  font-weight:bold;
}

.log .data {
  font-size:0.9em;
  padding:0 1em;
}

.failure {
  font-weight:bold;
  color:#AA0000;
}

.pags {
  text-align:center;
}

.pags a {
  display:inline-block;
  margin:0.5em;
}

.modclose {
  float:right;
  margin: 0 0.2em;
}

.modclose input[type="button"]{
  margin:0;
}
